<div class="policy-details">
  <h1><%= t('privacy.title') %></h1>
  <span><b><%= t('privacy.last_update') %></b></span>
  <p><%= t('privacy.intro') %></p>
  <ol>
    <li><b><%= t('privacy.gather_info.title') %></b></li>
    <li>
      <ol>
        <li><%= t('privacy.gather_info.item1') %></li>
        <li><%= t('privacy.gather_info.item2') %></li>
      </ol>
    </li>
  </ol>
  <ol>
    <li><b><%= t('privacy.use_info.title') %></b></li>
    <ol>
      <li><%= t('privacy.use_info.item1') %></li>
      <li><%= t('privacy.use_info.item2') %></li>
    </ol>
  </ol>
  <ol>
    <li><b><%= t('privacy.security.title') %></b></li>
    <ol>
      <li><%= t('privacy.security.description') %></li>
    </ol>
  </ol>
  <ol>
    <li><b><%= t('privacy.external_links.title') %></b></li>
    <ol>
      <li><%= t('privacy.external_links.description') %></li>
    </ol>
  </ol>
  <ol>
    <li><b><%= t('privacy.rights.title') %></b></li>
    <ol>
      <li><%= t('privacy.rights.description') %></li>
    </ol>
  </ol>
  <ol>
    <li><b><%= t('privacy.changes.title') %></b></li>
    <ol>
      <li><%= t('privacy.changes.description') %></li>
    </ol>
  </ol>
  <p><%= t('privacy.outro') %></p>
  <p><b><%= t('privacy.last_update') %></b></p>
</div>
