<div class="home-details">
  <div class="home-details1">
    <div class="home-container01">
      <div class="home-container02">
        <h2 class="home-details-heading heading2"><%= t('home.header.title') %></h2>
        <span class="home-details-sub-heading">
          <span>
            <%= t('home.header.p1') %>
          </span>
          <br />
          <span>
            <%= t('home.header.p2') %>
          </span>
          <br />
          <br />
          <span>
            <%= t('home.header.p3') %>
          </span>
          <br />
        </span>
      </div>
      <a class="big-button top-home-button button" href="/#help_results"><%= t('home.header.help_results') %></a>
    </div>
    <%= image_tag('home/header.jpg', class: 'home-details-image')%>
  </div>
</div>
<div class="home-steps" id="help_results">
  <h1 class="home-text11"><%= t('home.help_results.title') %></h1>
  <span class="home-text12"><%= t('home.help_results.subtitle') %></span>
  <div class="home-container-steps">
    <div class="home-step">
      <div class="home-container-icon-block">
        <div class="home-line-before"></div>
        <div class="home-container-round-icon">
          210
        </div>
        <div class="home-line-after"></div>
      </div>
      <div class="home-container-text-block">
        <h1 class="home-container-icon-title"><%= t('home.help_results.title1') %></h1>
        <span class="home-text-description">
          <span><%= t('home.help_results.description1_1') %></span>
          <br />
        </span>
      </div>
    </div>
    <div class="home-step">
      <div class="home-container-icon-block">
        <div class="home-line-before"></div>
        <div class="home-container-round-icon">
          75000
        </div>
        <div class="home-line-after"></div>
      </div>
      <div class="home-container-text-block">
        <h1 class="home-container-icon-title"><%= t('home.help_results.title2') %></h1>
        <span class="home-text-description">
          <span><%= t('home.help_results.description2_1') %></span>
        </span>
      </div>
    </div>
    <div class="home-step">
      <div class="home-container-icon-block">
        <div class="home-line-before"></div>
        <div class="home-container-round-icon">
          1428
        </div>
        <div class="home-line-after"></div>
      </div>
      <div class="home-container-text-block">
        <h1 class="home-container-icon-title"><%= t('home.help_results.title3') %></h1>
        <span class="home-text-description">
          <span><%= t('home.help_results.description3_1') %></span>
        </span>
      </div>
    </div>
    <div class="home-step">
      <div class="home-container-icon-block">
        <div class="home-line-before"></div>
        <div class="home-container-round-icon">
          200
        </div>
        <div class="home-line-after"></div>
      </div>
      <div class="home-container-text-block">
        <h1 class="home-container-icon-title"><%= t('home.help_results.title4') %></h1>
        <span class="home-text-description">
          <span>
            <%= t('home.help_results.description4_1') %>
          </span>
          <br />
        </span>
      </div>
    </div>
  </div>
</div>
<div class="home-products" id="photos">
  <h1 class="home-text37"><%= t('home.photo.title') %></h1>
  <span class="home-text38">
    <span>
      <%= t('home.photo.subtitle') %>
    </span>
  </span>
  <div class="home-container-photos">
    <%= image_tag('home/report1.jpg', class: 'home-image') %>
    <%= image_tag('home/report2.jpg', class: 'home-image') %>
    <%= image_tag('home/report3.jpg', class: 'home-image') %>
    <%= image_tag('home/report4.jpg', class: 'home-image') %>
    <%= image_tag('home/report5.jpg', class: 'home-image') %>
    <%= image_tag('home/report6.jpg', class: 'home-image') %>
    <%= image_tag('home/report7.jpg', class: 'home-image') %>
  </div>
</div>
<div class="home-write" id="letter">
  <h1 class="home-text48"><%= t('home.write_letter.title') %></h1>
  
  <div class="form-blocks">
    <%= render "form" %>
  </div>
</div>