<div class="home-header">
  <header data-thq="thq-navbar" class="home-navbar-interactive">
    <a href='/'>
      <span class="home-logo"><%= t('header.logo') %>&nbsp;</span>
    </a>
    <div data-thq="thq-navbar-nav" class="home-desktop-menu">
      <nav class="home-links">
        <a href="/#help" class="home-nav3"><%= t('header.how_to_help') %></a>
        <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="home-nav5"><%= t('header.community') %></a>
        <a href="?locale=<%= I18n.locale.to_s == 'uk' ? 'en' : 'uk' %>" class="home-nav5"><%= t('header.swith_lang') %></a>
      </nav>
      <div class="home-buttons">
        <a href="https://send.monobank.ua/jar/AXJUwUfrU7" rel="nofollow" target="_blank" class="home-register button"><%= t('header.fast_donation') %></a>
        <a href="/#letter" type="button" class="home-button button">
          <%= t('header.write_letter') %>
        </a>
      </div>
    </div>
    <div data-thq="thq-burger-menu" class="home-burger-menu">
      <svg viewBox="0 0 1024 1024" class="home-icon">
        <path
          d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
        ></path>
      </svg>
    </div>
    <div data-thq="thq-mobile-menu" class="home-mobile-menu">
      <div class="home-nav">
        <div class="home-top">
          <span class="home-logo1"><%= t('header.logo') %>&nbsp;</span>
          <div data-thq="thq-close-menu" class="home-close-menu">
            <svg viewBox="0 0 1024 1024" class="home-icon02">
              <path
                d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
              ></path>
            </svg>
          </div>
        </div>
        <nav class="home-links1">
          <a href="/#help" class="home-nav4"><%= t('header.how_to_help') %>&nbsp;</a>
          <a href="https://t.me/christmas_warm_hearts_chat" rel="nofollow" target="_blank" class="home-nav51"><%= t('header.community') %></a>
        </nav>
        <div class="home-buttons1">
          <a href="/#letter" class="home-register button"><%= t('header.write_letter') %></a>
          <a href="https://send.monobank.ua/jar/AXJUwUfrU7" rel="nofollow" target="_blank" class="home-button button"><%= t('header.fast_donation') %></a>
        </div>
      </div>
    </div>
  </header>
</div>